<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0.1; url='https://discord.com/api/oauth2/authorize?client_id=819465403461926942&permissions=4294967287&redirect_uri=https%3A%2F%2Fdiscord.gg%2FT4ywdPkMTE&scope=bot'" />
  </head>
  <body background="https://i.imgur.com/zJmiIjr.png">
    <p>If this does not automatically redirect you click on <a href="https://discord.com/api/oauth2/authorize?client_id=819465403461926942&permissions=4294967287&redirect_uri=https%3A%2F%2Fdiscord.gg%2FT4ywdPkMTE&scope=bot">this link</a>.</p>
  </body>
</html>
